<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.totra.memo.post.repository.PostRepository">
	<select id="postAllRead" parameterType="int" resultType="com.totra.memo.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`title`
			,`contents`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM `post`
		WHERE `userId` = #{userId}
	</select>
</mapper>