<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default.html}">

		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="input-box my-5 p-4 rounded-lg">
				<h1 class="text-center mb-3">회원가입</h1>
				<input id="id" type="text" class="form-control mt-2" placeholder="아이디">
				<input id="password" type="password" class="form-control mt-2" placeholder="비밀번호">
				<input id="passwordCheck" type="password" class="form-control mt-2" placeholder="비밀번호 확인">
				<input id="name" type="text" class="form-control mt-2" placeholder="이름">
				<input id="email" type="text" class="form-control mt-2" placeholder="이메일">
				<button id="signUp" type="button" class="btn btn-secondary btn-block mt-3">가입</button>
			</div>
		</section>
		
<script layout:fragment="script">
	$(document).ready(function(){
		$("#signUp").on("click", function(){
			let id = $("#id").val();
			let password = $("#password").val();
			let passwordCheck = $("#passwordCheck").val();
			let name = $("#name").val();
			let email = $("#email").val();
		
			if(id.length == 0){
				alert("아이디를 입력해주세요");
				return false;
			}
			
			if(password.length == 0){
				alert("비밀번호를 입력해주세요");
				return false;
			}
			
			if(passwordCheck.length == 0){
				alert("비밀번호 확인을 입력해주세요");
				return false;
			}
			
			if(name.length == 0){
				alert("이름을 입력해주세요");
				return false;
			}
			
			if(email.length == 0){
				alert("이메일을 입력해주세요");
				return false;
			}
			
			if(password != passwordCheck){
				alert("비밀번호와 비밀번호 확인이 다릅니다");
				return false;	
			}
			
			$.ajax({
				type:"post"
				, url:"/user/join"
				, data : {
					"loginId" : id
					, "password" : password
					, "name" : name
					, "email" : email
				}
				, success(response) {
					if(response.result == "success"){
						alert("회원가입 완료!");
						location.href="/user/login-view";
					}else{
						alert("리턴값 실패!");
					}
				}
				,error(){
					alert("회원가입 실패");
				}
			});
			
		});
	});
</script>
</html>